body {
    /*background-image: url("imgs/mounts1.png");*/
    /*background-size: auto;*/
    /*background-repeat: no-repeat;*/
    background-color:#0a1729;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

} 

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    text-align: center;
    /*background-color: rgb(15, 25, 41);*/
    /*margin-top: 200px;*/
       
}

p {
    color: floralwhite;
    font-size: 16pt;
    text-align: center;
    
}    

a {
    text-decoration: none;
    color: floralwhite;
}

#parallax-container {
    background-color: #0a1729;
    display: block;
    height: 900px;
 }
 
#parallax-container div {
    /* filter: blur(1px); */
    position: fixed;
    top:0;
    background-position: center !important;
    background-color: transparent;
    transform: translateY(0px);
    height: 900px; 
    width: 100%;  
 }
 
#maintitle {

    color: floralwhite;
    margin-top: 430px;
    text-align: center;
    font-size: 60pt;
    


}
#content {
    position: relative;
    background-color: #0a1729;
    /* background-color: transparent; */
    margin-top: 00px;
 }
img:hover {
    opacity: .75;
}

.links:hover {
    opacity: .5;
}
.links {
    color: floralwhite;
    font-size: 16pt;
    background-color: transparent;
    border: none;
    border-radius: 12px;
    
}

#socials {
    text-align: center;
}

section {
    text-align: center;
    /*background-color:rgb(15,25,41);*/
    padding: 0;
    margin: 0;
}

#about {

    margin-top: 200px;
    background-color: #0a1729;
    margin-bottom: 500px;
    text-align: center;
}

